.row {
  margin-right: 0;
  margin-left: 0;
}

.navbar-default {
  margin-bottom: 0;
}

.number-of-results {
  background-color: #EBEBEB;
}

.results {
  float: right;
  padding-right: 10px;
}

.price {
  float: right;
}

.per-night {
  float: right;
  font-size: .5em;
}

.listing {
  padding-bottom: 15px;
}

.loading-animation-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsla(0,0%,97%,.8);
  z-index: 100;
}

.loading-animation-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 257px;
  margin-top: -129px;
  margin-left: -150px;
  padding: 60px 30px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  z-index: 1;
}

.loading-cards-text {
  text-align: center;
  padding-top: 20px;
  font-size: 1.5em;
  color: black;
}

#loader-img-plane {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.alert-danger {
  margin-bottom: 0;
}

.exit-button {
  margin-top: -5px;
  float: right;
  background: none;
  border: none;
}