/*default styling*/
#root {
  padding: 20px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/*navbar styling*/
.navbar-default {
  margin-bottom: 0;
  background: #444748;
}

.search-group {
  padding-top: 20px;
}

.search-field {
  width: 500px !important;
}

.search-button {
  background: #c01268;
  margin-top: 20px;
  color: white;
  border: none
}

.label-date {
  display: block;
  color: #a8a8a8;
  font-size: 0.8em;
}

.guest-select {
  margin:0;
}

/*results bar styling*/
.number-of-results {
  background-color: #EBEBEB;
  border-bottom: 1px solid #dcdcdc;
}

.results {
  float: right;
  padding-right: 10px;
}


/*listing styling*/
.listing {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #dcdcdc;
}

.price {
  float: right;
  margin-right: 10px;
}

.per-night {
  float: right;
  font-size: .5em;
}

.number {
  text-align: center;
  color: white;
  z-index: 1;
  position: absolute;
  margin: 3px;
  padding: 5px;
  background: black;
}

.image-container {
  width: 200px;
}

.image-container img {
  max-height: 100%;
  max-width: 100%;
  border: solid 3px #FFF;
  box-shadow: 0 2px 15px 2px #E0E0E0;
}

/*loader img styling*/
.loading-animation-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsla(0,0%,97%,.8);
  z-index: 100;
}

.loading-animation-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 257px;
  margin-top: -129px;
  margin-left: -150px;
  padding: 60px 30px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  z-index: 1;
}

.loading-cards-text {
  text-align: center;
  padding-top: 20px;
  font-size: 1.5em;
  color: black;
}

#loader-img-plane {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

/*flash styling*/
.alert-danger {
  margin-bottom: 0;
}

.exit-button {
  margin-top: -5px;
  float: right;
  background: none;
  border: none;
}